
/*header*/

 h1 {
    font-family: 'Noto Sans', sans-serif;
    color: darkslategray;
    margin-left: 50px;
    font-size: 1em;
    margin-top: 20px;
}

/*grey background*/

ul {
    list-style-type: none;
 
}

#users {
    height: 100vh;
    width: 70%;
    background-color: #f8f8f8;
    margin-left: 7%;
    padding-top: 20px;
}

/*uppercase*/ 

 p::first-letter {
    text-transform: uppercase;
}



.info h2 {
    color: black;
    font-size: 1.2em;
     text-align: center;
  }

  .main img {
      float: left;
  }

.info {
    color: #bdbdbd;
    float: right;
    text-align: center;
  
}


#users li {
    background-color: #fefefe;
    margin: 10px;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid darkslategray;
    float: left;
    border-radius: 5px;
}
li img {
    width: 25%;
    border-radius: 50%;
}
.info {
    margin-right: 10px;
    line-height: 10px;
}
/*modal*/ 
#close {
    float: right;
    font-size: 1.2em;
    font-weight: 700;
    color: darkslategray;
    font-family: 'Noto Sans', sans-serif;
}


#modal-picture {
    width: 130px;
    border-radius: 50%;
  
    
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 330px;
    height: 450px;
    border-radius: 5px;
    text-align: center;
    color: grey;
}


.modal h2{
    text-align: center;
    color: black;
}


.overlay {
    z-index: 10;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;  
    background: rgba(0,0,0,0.5);
  }
  
 



@media (min-width: 768px) {

    .main {
        display: flex;
        align-items: flex-start;
    }
    
.info {
    margin-top: -10px;
    line-height: 15px;
    margin-left: 3px;
}


   
     #users li {
         width: 25%;
     }
   
    li img {
        border-radius: 50%;
    }
    #users ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       }

    .info h2 {
        color:black; 
      font-size: 1em;
    }
    
    .info p,
    .info span {
        font-size: 0.87em;
    }
    
      .main img {
         width: 30%;
      }
    
    
   
/*grey background*/

#users {
    height: 100vh;
    width: 80%;
    background-color: #f8f8f8;
    padding-left: 100px;
    margin-left: 7%;
    padding-top: 20px;
}



}



